* 
{
margin: 0;
padding: 0;
}

.header 
{
  background-color: #F4CFC7;
  width: 100%;
display: flex;
position: relative;

}

.menu-first {
display: flex;
position: relative;
overflow: hidden;
}

.menu-first h1 {
  box-sizing: fit-content;
  padding-top: 2px ;
  padding-left: 15px;
  
}
@media screen and (min-width:550px)
{
.menu-first ul {
  box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #F4CFC7;
    display: flex;
  }
}

.menu-first li{
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 12px;
    position: relative;
    text-decoration: none;
  }
.menu-second
{
  position:absolute ;
  right: 0;
  width: fit-content;
  display: flex;

}
.menu-second ul{
  padding-top: 2px;
    list-style-type: none;
    background-color: #F4CFC7;
    display: flex;
  }
.menu-second li {
    padding-right: 12px;
  }
 